In [1]:
#--BASE--#
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import numpy as np
import datetime
import os
import datetime 

#--VISUALIZACIÓN--#
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

#--CONFIGURACIÓN--#
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:.2f}'.format
warnings.filterwarnings('ignore')

In [38]:
df = pd.read_csv('../Clima/Temperature/1_Alabama.csv')
df['State'] = 'Alabama'
df.to_csv('../Clima/Temperature/1_Alabama.csv')

df = pd.read_csv('../Clima/Temperature/2_Arizona.csv')
df['State'] = 'Arizona'
df.to_csv('../Clima/Temperature/2_Arizona.csv')

df = pd.read_csv('../Clima/Temperature/3_Arkansas.csv')
df['State'] = 'Arkansas'
df.to_csv('../Clima/Temperature/3_Arkansas.csv')

df = pd.read_csv('../Clima/Temperature/4_California.csv')
df['State'] = 'California'
df.to_csv('../Clima/Temperature/4_California.csv')

df = pd.read_csv('../Clima/Temperature/5_Colorado.csv')
df['State'] = 'Colorado'
df.to_csv('../Clima/Temperature/5_Colorado.csv')

df = pd.read_csv('../Clima/Temperature/6_Connecticut.csv')
df['State'] = 'Connecticut'
df.to_csv('../Clima/Temperature/6_Connecticut.csv')

df = pd.read_csv('../Clima/Temperature/7_Delaware.csv')
df['State'] = 'Delaware'
df.to_csv('../Clima/Temperature/7_Delaware.csv')

df = pd.read_csv('../Clima/Temperature/8_Florida.csv')
df['State'] = 'Florida'
df.to_csv('../Clima/Temperature/8_Florida.csv')

df = pd.read_csv('../Clima/Temperature/9_Georgia.csv')
df['State'] = 'Georgia'
df.to_csv('../Clima/Temperature/9_Georgia.csv')

df = pd.read_csv('../Clima/Temperature/10_Idaho.csv')
df['State'] = 'Idaho'
df.to_csv('../Clima/Temperature/10_Idaho.csv')

df = pd.read_csv('../Clima/Temperature/11_Illinois.csv')
df['State'] = 'Illinois'
df.to_csv('../Clima/Temperature/11_Illinois.csv')

df = pd.read_csv('../Clima/Temperature/12_Indiana.csv')
df['State'] = 'Indiana'
df.to_csv('../Clima/Temperature/12_Indiana.csv')

df = pd.read_csv('../Clima/Temperature/13_Iowa.csv')
df['State'] = 'Iowa'
df.to_csv('../Clima/Temperature/13_Iowa.csv')

df = pd.read_csv('../Clima/Temperature/14_Kansas.csv')
df['State'] = 'Kansas'
df.to_csv('../Clima/Temperature/14_Kansas.csv')

df = pd.read_csv('../Clima/Temperature/15_Kentucky.csv')
df['State'] = 'Kentucky'
df.to_csv('../Clima/Temperature/15_Kentucky.csv')

df = pd.read_csv('../Clima/Temperature/16_Louisiana.csv')
df['State'] = 'Louisiana'
df.to_csv('../Clima/Temperature/16_Louisiana.csv')

df = pd.read_csv('../Clima/Temperature/17_Maine.csv')
df['State'] = 'Maine'
df.to_csv('../Clima/Temperature/17_Maine.csv')

df = pd.read_csv('../Clima/Temperature/18_Maryland.csv')
df['State'] = 'Maryland'
df.to_csv('../Clima/Temperature/18_Maryland.csv')

df = pd.read_csv('../Clima/Temperature/19_Massachusetts.csv')
df['State'] = 'Massachusetts'
df.to_csv('../Clima/Temperature/19_Massachusetts.csv')

df = pd.read_csv('../Clima/Temperature/20_Michigan.csv')
df['State'] = 'Michigan'
df.to_csv('../Clima/Temperature/20_Michigan.csv')

df = pd.read_csv('../Clima/Temperature/21_Minnesota.csv')
df['State'] = 'Minnesota'
df.to_csv('../Clima/Temperature/21_Minnesota.csv')

df = pd.read_csv('../Clima/Temperature/22_Mississippi.csv')
df['State'] = 'Mississippi'
df.to_csv('../Clima/Temperature/22_Mississippi.csv')

df = pd.read_csv('../Clima/Temperature/23_Missouri.csv')
df['State'] = 'Missouri'
df.to_csv('../Clima/Temperature/23_Missouri.csv')

df = pd.read_csv('../Clima/Temperature/24_Montana.csv')
df['State'] = 'Montana'
df.to_csv('../Clima/Temperature/24_Montana.csv')

df = pd.read_csv('../Clima/Temperature/25_Nebraska.csv')
df['State'] = 'Nebraska'
df.to_csv('../Clima/Temperature/25_Nebraska.csv')

df = pd.read_csv('../Clima/Temperature/26_Nevada.csv')
df['State'] = 'Nevada'
df.to_csv('../Clima/Temperature/26_Nevada.csv')

df = pd.read_csv('../Clima/Temperature/27_New_Hampshire.csv')
df['State'] = 'New_Hampshire'
df.to_csv('../Clima/Temperature/27_New_Hampshire.csv')

df = pd.read_csv('../Clima/Temperature/28_New_Jersey.csv')
df['State'] = 'New_Jersey'
df.to_csv('../Clima/Temperature/28_New_Jersey.csv')

df = pd.read_csv('../Clima/Temperature/29_New_Mexico.csv')
df['State'] = 'New_Mexico'
df.to_csv('../Clima/Temperature/29_New_Mexico.csv')

df = pd.read_csv('../Clima/Temperature/30_New_York.csv')
df['State'] = 'New_York'
df.to_csv('../Clima/Temperature/30_New_York.csv')

df = pd.read_csv('../Clima/Temperature/31_North_Carolina.csv')
df['State'] = 'North_Carolina'
df.to_csv('../Clima/Temperature/31_North_Carolina.csv')

df = pd.read_csv('../Clima/Temperature/32_North_Dakota.csv')
df['State'] = 'North_Dakota'
df.to_csv('../Clima/Temperature/32_North_Dakota.csv')

df = pd.read_csv('../Clima/Temperature/33_Ohio.csv')
df['State'] = 'Ohio'
df.to_csv('../Clima/Temperature/33_Ohio.csv')

df = pd.read_csv('../Clima/Temperature/34_Oklahoma.csv')
df['State'] = 'Oklahoma'
df.to_csv('../Clima/Temperature/34_Oklahoma.csv')

df = pd.read_csv('../Clima/Temperature/35_Oregon.csv')
df['State'] = 'Oregon'
df.to_csv('../Clima/Temperature/35_Oregon.csv')

df = pd.read_csv('../Clima/Temperature/36_Pennsylvania.csv')
df['State'] = 'Pennsylvania'
df.to_csv('../Clima/Temperature/36_Pennsylvania.csv')

df = pd.read_csv('../Clima/Temperature/37_Rhode_Island.csv')
df['State'] = 'Rhode_Island'
df.to_csv('../Clima/Temperature/37_Rhode_Island.csv')

df = pd.read_csv('../Clima/Temperature/38_South_Carolina.csv')
df['State'] = 'South_Carolina'
df.to_csv('../Clima/Temperature/38_South_Carolina.csv')

df = pd.read_csv('../Clima/Temperature/39_South_Dakota.csv')
df['State'] = 'South_Dakota'
df.to_csv('../Clima/Temperature/39_South_Dakota.csv')

df = pd.read_csv('../Clima/Temperature/40_Tennessee.csv')
df['State'] = 'Tennessee'
df.to_csv('../Clima/Temperature/40_Tennessee.csv')

df = pd.read_csv('../Clima/Temperature/41_Texas.csv')
df['State'] = 'Texas'
df.to_csv('../Clima/Temperature/41_Texas.csv')

df = pd.read_csv('../Clima/Temperature/42_Utah.csv')
df['State'] = 'Utah'
df.to_csv('../Clima/Temperature/42_Utah.csv')

df = pd.read_csv('../Clima/Temperature/43_Vermont.csv')
df['State'] = 'Vermont'
df.to_csv('../Clima/Temperature/43_Vermont.csv')

df = pd.read_csv('../Clima/Temperature/44_Virginia.csv')
df['State'] = 'Virginia'
df.to_csv('../Clima/Temperature/44_Virginia.csv')

df = pd.read_csv('../Clima/Temperature/45_Washington.csv')
df['State'] = 'Washington'
df.to_csv('../Clima/Temperature/45_Washington.csv')

df = pd.read_csv('../Clima/Temperature/46_West_Virginia.csv')
df['State'] = 'West_Virginia'
df.to_csv('../Clima/Temperature/46_West_Virginia.csv')

df = pd.read_csv('../Clima/Temperature/47_Wisconsin.csv')
df['State'] = 'Wisconsin'
df.to_csv('../Clima/Temperature/47_Wisconsin.csv')

df = pd.read_csv('../Clima/Temperature/48_Wyoming.csv')
df['State'] = 'Wyoming'
df.to_csv('../Clima/Temperature/48_Wyoming.csv')

df = pd.read_csv('../Clima/Temperature/50_Alaska.csv')
df['State'] = 'Alaska'
df.to_csv('../Clima/Temperature/50_Alaska.csv')

In [2]:
#leo los archivos de Tempreratura descargados por webScraping y los concateno
path = '../Clima/Temperature/'
files = [os.path.join(path, file) for file in os.listdir(path) if ".csv" in file]

df = pd.concat(map(pd.read_csv, files))

In [3]:
df.columns

Index(['Unnamed: 0', 'date', 'January', 'February', 'March', 'April', 'May',
       'June', 'July', 'August', 'September', 'October', 'November',
       'December', 'State', 'Unnamed: 0.1'],
      dtype='object')

In [4]:
df.drop(['Unnamed: 0','Unnamed: 0.1'], axis = 1, inplace = True)

In [5]:
col = df.pop('State')
df.insert(loc= 0 , column= 'State', value= col)

In [6]:
df.head()

,State,date,January,February,March,April,May,June,July,August,September,October,November,December
0,Kentucky,1950,43.90,38.90,42.10,51.20,66.10,71.40,72.70,71.10,66.00,61.00,39.40,30.40
1,Kentucky,1951,36.00,36.80,43.80,52.50,64.60,72.60,76.10,75.00,66.80,58.30,39.00,38.20
2,Kentucky,1952,40.00,40.20,44.30,54.80,65.00,78.40,78.90,75.70,67.10,50.90,45.00,38.20
3,Kentucky,1953,39.80,40.30,47.70,52.60,68.00,76.40,76.80,75.40,69.10,59.20,44.30,35.50
4,Kentucky,1954,35.30,43.60,43.60,61.00,59.80,74.50,78.70,76.80,72.00,58.10,43.90,35.60

In [7]:
df.to_csv('../Clima/Temperature/TOTAL_STATES_Tª.csv')