In [1]:
#--BASE--#
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import numpy as np
import datetime
import os
import datetime 

#--VISUALIZACIÓN--#
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

#--CONFIGURACIÓN--#
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:.2f}'.format
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../DATOS/Clima/Precipitation/1_Alabama.csv')

df = pd.read_csv('../DATOS/Clima/Precipitation/1_Alabama.csv')
df['State'] = 'Alabama'
df.to_csv('../DATOS/Clima/Precipitation/1_Alabama.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/1_Alabama.csv')
df['State'] = 'Alabama'
df.to_csv('../DATOS/Clima/Precipitation/1_Alabama.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/2_Arizona.csv')
df['State'] = 'Arizona'
df.to_csv('../DATOS/Clima/Precipitation/2_Arizona.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/3_Arkansas.csv')
df['State'] = 'Arkansas'
df.to_csv('../DATOS/Clima/Precipitation/3_Arkansas.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/4_California.csv')
df['State'] = 'California'
df.to_csv('../DATOS/Clima/Precipitation/4_California.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/5_Colorado.csv')
df['State'] = 'Colorado'
df.to_csv('../DATOS/Clima/Precipitation/5_Colorado.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/6_Connecticut.csv')
df['State'] = 'Connecticut'
df.to_csv('../DATOS/Clima/Precipitation/6_Connecticut.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/7_Delaware.csv')
df['State'] = 'Delaware'
df.to_csv('../DATOS/Clima/Precipitation/7_Delaware.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/8_Florida.csv')
df['State'] = 'Florida'
df.to_csv('../DATOS/Clima/Precipitation/8_Florida.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/9_Georgia.csv')
df['State'] = 'Georgia'
df.to_csv('../DATOS/Clima/Precipitation/9_Georgia.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/10_Idaho.csv')
df['State'] = 'Idaho'
df.to_csv('../DATOS/Clima/Precipitation/10_Idaho.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/11_Illinois.csv')
df['State'] = 'Illinois'
df.to_csv('../DATOS/Clima/Precipitation/11_Illinois.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/12_Indiana.csv')
df['State'] = 'Indiana'
df.to_csv('../DATOS/Clima/Precipitation/12_Indiana.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/13_Iowa.csv')
df['State'] = 'Iowa'
df.to_csv('../DATOS/Clima/Precipitation/13_Iowa.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/14_Kansas.csv')
df['State'] = 'Kansas'
df.to_csv('../DATOS/Clima/Precipitation/14_Kansas.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/15_Kentucky.csv')
df['State'] = 'Kentucky'
df.to_csv('../DATOS/Clima/Precipitation/15_Kentucky.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/16_Louisiana.csv')
df['State'] = 'Louisiana'
df.to_csv('../DATOS/Clima/Precipitation/16_Louisiana.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/17_Maine.csv')
df['State'] = 'Maine'
df.to_csv('../DATOS/Clima/Precipitation/17_Maine.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/18_Maryland.csv')
df['State'] = 'Maryland'
df.to_csv('../DATOS/Clima/Precipitation/18_Maryland.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/19_Massachusetts.csv')
df['State'] = 'Massachusetts'
df.to_csv('../DATOS/Clima/Precipitation/19_Massachusetts.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/20_Michigan.csv')
df['State'] = 'Michigan'
df.to_csv('../DATOS/Clima/Precipitation/20_Michigan.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/21_Minnesota.csv')
df['State'] = 'Minnesota'
df.to_csv('../DATOS/Clima/Precipitation/21_Minnesota.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/22_Mississippi.csv')
df['State'] = 'Mississippi'
df.to_csv('../DATOS/Clima/Precipitation/22_Mississippi.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/23_Missouri.csv')
df['State'] = 'Missouri'
df.to_csv('../DATOS/Clima/Precipitation/23_Missouri.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/24_Montana.csv')
df['State'] = 'Montana'
df.to_csv('../DATOS/Clima/Precipitation/24_Montana.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/25_Nebraska.csv')
df['State'] = 'Nebraska'
df.to_csv('../DATOS/Clima/Precipitation/25_Nebraska.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/26_Nevada.csv')
df['State'] = 'Nevada'
df.to_csv('../DATOS/Clima/Precipitation/26_Nevada.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/27_New_Hampshire.csv')
df['State'] = 'New_Hampshire'
df.to_csv('../DATOS/Clima/Precipitation/27_New_Hampshire.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/28_New_Jersey.csv')
df['State'] = 'New_Jersey'
df.to_csv('../DATOS/Clima/Precipitation/28_New_Jersey.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/29_New_Mexico.csv')
df['State'] = 'New_Mexico'
df.to_csv('../DATOS/Clima/Precipitation/29_New_Mexico.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/30_New_York.csv')
df['State'] = 'New_York'
df.to_csv('../DATOS/Clima/Precipitation/30_New_York.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/31_North_Carolina.csv')
df['State'] = 'North_Carolina'
df.to_csv('../DATOS/Clima/Precipitation/31_North_Carolina.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/32_North_Dakota.csv')
df['State'] = 'North_Dakota'
df.to_csv('../DATOS/Clima/Precipitation/32_North_Dakota.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/33_Ohio.csv')
df['State'] = 'Ohio'
df.to_csv('../DATOS/Clima/Precipitation/33_Ohio.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/34_Oklahoma.csv')
df['State'] = 'Oklahoma'
df.to_csv('../DATOS/Clima/Precipitation/34_Oklahoma.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/35_Oregon.csv')
df['State'] = 'Oregon'
df.to_csv('../DATOS/Clima/Precipitation/35_Oregon.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/36_Pennsylvania.csv')
df['State'] = 'Pennsylvania'
df.to_csv('../DATOS/Clima/Precipitation/36_Pennsylvania.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/37_Rhode_Island.csv')
df['State'] = 'Rhode_Island'
df.to_csv('../DATOS/Clima/Precipitation/37_Rhode_Island.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/38_South_Carolina.csv')
df['State'] = 'South_Carolina'
df.to_csv('../DATOS/Clima/Precipitation/38_South_Carolina.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/39_South_Dakota.csv')
df['State'] = 'South_Dakota'
df.to_csv('../DATOS/Clima/Precipitation/39_South_Dakota.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/40_Tennessee.csv')
df['State'] = 'Tennessee'
df.to_csv('../DATOS/Clima/Precipitation/40_Tennessee.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/41_Texas.csv')
df['State'] = 'Texas'
df.to_csv('../DATOS/Clima/Precipitation/41_Texas.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/42_Utah.csv')
df['State'] = 'Utah'
df.to_csv('../DATOS/Clima/Precipitation/42_Utah.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/43_Vermont.csv')
df['State'] = 'Vermont'
df.to_csv('../DATOS/Clima/Precipitation/43_Vermont.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/44_Virginia.csv')
df['State'] = 'Virginia'
df.to_csv('../DATOS/Clima/Precipitation/44_Virginia.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/45_Washington.csv',)
df['State'] = 'Washington'
df.to_csv('../DATOS/Clima/Precipitation/45_Washington.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/46_West_Virginia.csv')
df['State'] = 'West_Virginia'
df.to_csv('../DATOS/Clima/Precipitation/46_West_Virginia.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/47_Wisconsin.csv')
df['State'] = 'Wisconsin'
df.to_csv('../DATOS/Clima/Precipitation/47_Wisconsin.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/48_Wyoming.csv')
df['State'] = 'Wyoming'
df.to_csv('../DATOS/Clima/Precipitation/48_Wyoming.csv', index = False)

df = pd.read_csv('../DATOS/Clima/Precipitation/50_Alaska.csv')
df['State'] = 'Alaska'
df.to_csv('../DATOS/Clima/Precipitation/50_Alaska.csv', index = False)

In [3]:
#leo los archivos de Tempreratura descargados por webScraping con las nueva columna de "state" creada en la celda de arriba y los concateno
path = '../DATOS/Clima/Precipitation/'
files = [os.path.join(path, file) for file in os.listdir(path) if ".csv" in file]

df = pd.concat(map(pd.read_csv, files))

In [4]:
df.columns

Index(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0', 'Unnamed: 0.1', 'date',
       'January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December', 'State'],
      dtype='object')

In [5]:
df.drop(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0', 'Unnamed: 0.1'], axis = 1, inplace = True)

In [6]:
col = df.pop('State')
df.insert(loc= 0 , column= 'State', value= col)

In [7]:
df.head()

,State,date,January,February,March,April,May,June,July,August,September,October,November,December
0,Idaho,1950,4.80,2.56,3.74,1.30,1.05,2.08,0.83,0.79,1.53,2.76,2.93,3.07
1,Idaho,1951,3.13,3.30,2.17,1.49,1.60,1.12,0.84,1.64,0.44,3.51,2.37,4.53
2,Idaho,1952,3.05,2.39,2.16,0.93,2.06,2.45,0.77,0.40,0.33,0.13,1.02,2.70
3,Idaho,1953,5.63,2.40,1.77,2.28,2.99,1.99,0.14,0.73,0.24,0.58,2.39,2.54
4,Idaho,1954,4.26,2.03,2.24,1.93,1.13,2.74,0.84,1.25,0.70,0.79,1.66,1.91

- Con la intención de hacer un manejo más sencillo de los datos se van a modificar con la idea de crear cuatro columnas con los datos originales (State - date - Months - Precipitation).
- También se crea una quinta columna calculando las diferencias de las Precipitaciones entre cada dia para cada año, mes y estado de EEUU.

In [8]:
#Se crean columnas rellenadas con los meses del año

df['January_1'] = 'January'
df['February_1'] = 'February'
df['March_1'] = 'March'
df['April_1'] = 'April'
df['May_1'] = 'May'
df['June_1'] = 'June'
df['July_1'] = 'July'
df['August_1'] = 'August'
df['September_1'] = 'September'
df['October_1'] = 'October'
df['November_1'] = 'November'
df['December_1'] = 'December'

In [9]:
#se crean variables uniendo cada mes con sus valores correspondientes de pp

df_1 = df[['State', 'date', 'January_1', 'January']]
df_1.rename(columns = {'January_1':'Months', 'January': 'Precipitation'}, inplace = 1)

df_2 = df[['State', 'date', 'February_1', 'February']]
df_2.rename(columns = {'February_1':'Months', 'February': 'Precipitation'}, inplace = 1)

df_3 = df[['State', 'date', 'March_1', 'March']]
df_3.rename(columns = {'March_1':'Months', 'March': 'Precipitation'}, inplace = 1)

df_4 = df[['State', 'date', 'April_1', 'April']]
df_4.rename(columns = {'April_1':'Months', 'April': 'Precipitation'}, inplace = 1)

df_5 = df[['State', 'date', 'May_1', 'May']]
df_5.rename(columns = {'May_1':'Months', 'May': 'Precipitation'}, inplace = 1)

df_6 = df[['State', 'date', 'June_1', 'June']]
df_6.rename(columns = {'June_1':'Months', 'June': 'Precipitation'}, inplace = 1)

df_7 = df[['State', 'date', 'July_1', 'July']]
df_7.rename(columns = {'July_1':'Months', 'July': 'Precipitation'}, inplace = 1)

df_8 = df[['State', 'date', 'August_1', 'August']]
df_8.rename(columns = {'August_1':'Months', 'August': 'Precipitation'}, inplace = 1)

df_9 = df[['State', 'date', 'September_1', 'September']]
df_9.rename(columns = {'September_1':'Months', 'September': 'Precipitation'}, inplace = 1)

df_10 = df[['State', 'date', 'October_1', 'October']]
df_10.rename(columns = {'October_1':'Months', 'October': 'Precipitation'}, inplace = 1)

df_11 = df[['State', 'date', 'November_1', 'November']]
df_11.rename(columns = {'November_1':'Months', 'November': 'Precipitation'}, inplace = 1)

df_12 = df[['State', 'date', 'December_1', 'December']]
df_12.rename(columns = {'December_1':'Months', 'December': 'Precipitation'}, inplace = 1)

In [10]:
# concateando de todas las variables

df_concat = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12])

In [11]:
#Paso de pulgadas de lluvia (medida estadounidense) a milimetros.

df_concat['Precipitation'] = (df_concat['Precipitation']* 25.4)

In [12]:
df_concat.head()

   State  date   Months  Precipitation
0  Idaho  1950  January         121.92
1  Idaho  1951  January          79.50
2  Idaho  1952  January          77.47
3  Idaho  1953  January         143.00
4  Idaho  1954  January         108.20

In [13]:
df_concat.to_csv('../DATOS/Clima/TOTAL_STATES_PP.csv', index = False)