In [1]:
#--BASE--#
%matplotlib inline
import pandas as pd
import seaborn as sns
import warnings
import numpy as np
import datetime
import os
import warnings
from datetime import timedelta
import funciones
from phik import phik_matrix
from minepy import MINE

#--VISUALIZACIÓN--#
import matplotlib as mpl
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

#--CONFIGURACIÓN--#
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.options.display.float_format = '{:.2f}'.format
warnings.filterwarnings('ignore')

In [83]:
pd.DataFrame({
    'Idaho' : ['Units: Degrees Fahrenheit', 'Base Period: 1901-2000', 'Missing: -99', 'Date', 195001, 195101, 195101, 195301, 195401, 195501, 195601, '...'],
    'Maximum Temperature':['NaN','NaN','NaN', 'Value', 52.4, 62.9, 40.0, 50.6, 42.7, 56.8, 53.5,'...'],
    'May':['NaN','NaN','NaN', 'May', 11.4, 11.4, 5.0, 5.6, 1.7, -0.2, -1.5, '...']
})

                        Idaho Maximum Temperature   May
0   Units: Degrees Fahrenheit                 NaN   NaN
1      Base Period: 1901-2000                 NaN   NaN
2                Missing: -99                 NaN   NaN
3                        Date               Value   May
4                      195001               52.40 11.40
5                      195101               62.90 11.40
6                      195101               40.00  5.00
7                      195301               50.60  5.60
8                      195401               42.70  1.70
9                      195501               56.80 -0.20
10                     195601               53.50 -1.50
11                        ...                 ...   ...

In [82]:
pd.DataFrame({
    'date' : [1950, 1951, 1951, 1953, 1954, 1955, 1956, '...'],
    'Maximum Temperature':[52.4, 62.9, 40.0, 50.6, 42.7, 56.8, 53.5,'...'],
    'month':['May', 'May', 'May', 'May', 'May', 'May', 'May', '...'],
    'state':['Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', 'Idaho', '...']
})

   date Maximum Temperature    month    state
0  1950               68.40  January  Alabama
1  1951               58.90  January  Alabama
2  1951               63.00  January  Alabama
3  1953               60.60  January  Alabama
4  1954               58.70  January  Alabama
5  1955               54.80  January  Alabama
6  1956               53.50  January  Alabama
7   ...                 ...      ...      ...

In [62]:
state = pd.read_csv('../DATOS/Clima/Maximum temperature/1950-2021.csv')
state

                      Alabama  Maximum Temperature  January
0   Units: Degrees Fahrenheit                  NaN      NaN
1      Base Period: 1901-2000                  NaN      NaN
2                Missing: -99                  NaN      NaN
3                        Date                Value  Anomaly
4                      195001                 68.4     12.4
5                      195101                 58.9      2.9
6                      195201                 63.0      7.0
7                      195301                 60.6      4.6
8                      195401                 58.7      2.7
9                      195501                 54.8     -1.2
10                     195601                 53.5     -2.5
11                     195701                 58.8      2.8
12                     195801                 50.2     -5.8
13                     195901                 55.8     -0.2
14                     196001                 53.6     -2.4
15                     196101                 50.4     -5.6
16                     196201                 52.9     -3.1
17                     196301                 50.6     -5.4
18                     196401                 53.7     -2.3
19                     196501                 58.8      2.8
20                     196601                 49.3     -6.7
21                     196701                 56.8      0.8
22                     196801                 53.1     -2.9
23                     196901                 53.6     -2.4
24                     197001                 48.3     -7.7
25                     197101                 55.8     -0.2
26                     197201                 60.4      4.4
27                     197301                 53.6     -2.4
28                     197401                 64.0      8.0
29                     197501                 60.2      4.2
30                     197601                 52.8     -3.2
31                     197701                 43.6    -12.4
32                     197801                 44.4    -11.6
33                     197901                 47.8     -8.2
34                     198001                 55.8     -0.2
35                     198101                 52.2     -3.8
36                     198201                 54.4     -1.6
37                     198301                 52.1     -3.9
38                     198401                 51.7     -4.3
39                     198501                 48.5     -7.5
40                     198601                 56.2      0.2
41                     198701                 53.5     -2.5
42                     198801                 50.6     -5.4
43                     198901                 62.1      6.1
44                     199001                 61.0      5.0
45                     199101                 53.9     -2.1
46                     199201                 54.3     -1.7
47                     199301                 58.0      2.0
48                     199401                 50.9     -5.1
49                     199501                 56.0      0.0
50                     199601                 55.4     -0.6
51                     199701                 56.0      0.0
52                     199801                 57.7      1.7
53                     199901                 61.3      5.3
54                     200001                 57.1      1.1
55                     200101                 52.5     -3.5
56                     200201                 58.3      2.3
57                     200301                 51.5     -4.5
58                     200401                 55.8     -0.2
59                     200501                 60.4      4.4
60                     200601                 63.1      7.1
61                     200701                 57.0      1.0
62                     200801                 53.9     -2.1
63                     200901                 56.7      0.7
64                     201001                 50.8     -5.2
65                     201101                 52.0     -4.0
66                     201201                 62.3      6.3
67                     201301                 59.9      3.9
68                     201401                 49.8     -6.2
69                     201501                 54.6     -1.4
70                     201601                 53.5     -2.5
71                     201701                 62.9      6.9
72                     201801                 51.8     -4.2
73                     201901                 56.6      0.6
74                     202001                 59.8      3.8
75                     202101                 56.6      0.6

In [61]:
lista =[]
for i in state:
    state = state.columns[0]
    lista.append(state)

AttributeError: 'str' object has no attribute 'columns'

In [60]:
state[state] = state

#state[month] =

TypeError: 'str' object does not support item assignment